<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container mt-5">
        <h1>{{ titulo }}</h1>

        <hr>
        <!--listar frutas-->
        <ul>
            <li v-for="fruta of frutas">{{ fruta }}</li>
        </ul>

        <!--inputs-->
        <input type="text" v-model="nuevaPersona" 
        @keyup.enter="agregarPersona">
        <button @click="agregarPersona">Agregar persona</button>

        <!--listar personas (objects)-->
        <ul>
            <li v-for="persona in personas">
                <input type="number" v-model.number="persona.edad">
                <b>{{persona.nombre  + " "+ persona.apellidos }}</b>
                <span v-if="persona.edad >= 18">Es mayor de edad</span>
                <span v-else>No Es mayor de edad</span>
                <button @click="persona.edad++">Sumar</button>
                <button @click="persona.edad--">Restar</button>
            </li>
        </ul>

        <h3>Total edades : {{sumarEdades}}</h3>


        <hr>

        <div :class="['p-3', 'text-white', fondo ]">
            <p>Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Iure inventore et par
                iatur ad iusto in aut nesciunt eum dignissimos,
                 modi saepe illo dolorum earum dolorem adipisci 
                 explicabo accusamus quasi similique.
            </p>
        </div>

        <input type="text" name="" id="" class="form-control my-3" v-model="fondo">


         <div class="text-white p-3" :class="{'bg-success' : color, 'bg-danger': !color}">
            <p>Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Iure inventore et par
                iatur ad iusto in aut nesciunt eum dignissimos,
                 modi saepe illo dolorum earum dolorem adipisci 
                 explicabo accusamus quasi similique.
            </p>
        </div>

        <button class="btn btn-primary"  @click="color = !color">Change</button>


        <br>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>