<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ titulo }}</h1>

        <hr>
        <!--listar frutas-->
        <ul>
            <li v-for="fruta of frutas">{{ fruta }}</li>
        </ul>

        <!--inputs-->
        <input type="text" v-model="nuevaPersona" 
        @keyup.enter="agregarPersona">
        <button @click="agregarPersona">Agregar persona</button>

        <!--listar personas (objects)-->
        <ul>
            <li v-for="persona in personas">
                <input type="number" v-model.number="persona.edad">
                <b>{{persona.nombre  + " "+ persona.apellidos }}</b>
                <span v-if="persona.edad >= 18">Es mayor de edad</span>
                <span v-else>No Es mayor de edad</span>
                <button @click="persona.edad++">Sumar</button>
                <button @click="persona.edad--">Restar</button>
            </li>
        </ul>

        <h3>Total edades : {{sumarEdades}}</h3>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>